.mdl-layout__header .mdl-layout__drawer-button {
  background-color: transparent; 
  top: 10px;
}

.light {
  background: rgba(0,0,0,0.0125);
}

.container {
  padding: 20px;
}

.mdl-data-table {
  width: 100%;
}

/*.ag-cell {
  text-align: center;
}

.grid-cell-centered {
  text-align: center;
}*/

.ag-header-cell.text-center .ag-header-cell-label {
  top: 8px;
  justify-content: center;
}

/*.ag-header-cell-label {
}

.ag-header-group-cell-label {
  justify-content: center !important;
}*/

.update-header-text-center .ag-header-cell-label {
  justify-content: center !important;
}

.mdl-layout-title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 40px;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.ag-cell-focus,.ag-cell-no-focus{
  border:none !important;
}

#ag-20 {
  position: relative;
}

.button-add {
  position: absolute;
  left: 25px;
  margin: 0 !important;
}

.button-delete-all {
  position: absolute;
  left: 95px;
  margin: 0 !important;
}